::selection {
    background-color: rgb(58, 58, 58); /* Altere a cor para a cor desejada */
    color: rgb(192, 192, 192); /* Altere a cor do texto para contrastar com o fundo */
}
.container {
    position: relative;
    box-shadow: inset 0px 0px 15px 2px;
    background-color: rgb(255, 255, 255);
    width: 31%;
    height: 25%;
    border-radius: 8px;
   
}

#video, #imagem {
    position: absolute;
    top: 0;
    left: 0;
    width: 200px;
    height: 200px;
    border-radius: 100px;
}

#video {
    object-fit: cover;
    display: none;
}

.sobre-back{
    margin-top: 260px;
    margin-left: 15px;
    
}

.btn-back {
display: flex;
align-items: center;
justify-content: center;
outline: none;
cursor: pointer;
width: 100px;
height: 40px;
background-image: linear-gradient(to top, #D8D9DB 0%, #fff 80%, #FDFDFD 100%);
border-radius: 30px;
border: 1px solid #8F9092;
transition: all 0.2s ease;
font-family: "Source Sans Pro", sans-serif;
font-size: 14px;
font-weight: 600;
color: #606060;
text-shadow: 0 1px #fff;
text-decoration: none;
}

.btn-back:hover {
box-shadow: 0 4px 3px 1px #FCFCFC, 0 6px 8px #D6D7D9, 0 -4px 4px #CECFD1, 0 -6px 4px #FEFEFE, inset 0 0 3px 3px #CECFD1;
}

.btn-back:active {
box-shadow: 0 4px 3px 1px #FCFCFC, 0 6px 8px #D6D7D9, 0 -4px 4px #CECFD1, 0 -6px 4px #FEFEFE, inset 0 0 5px 3px #999, inset 0 0 30px #aaa;
}

.btn-back:focus {
box-shadow: 0 4px 3px 1px #FCFCFC, 0 6px 8px #D6D7D9, 0 -4px 4px #CECFD1, 0 -6px 4px #FEFEFE, inset 0 0 5px 3px #999, inset 0 0 30px #aaa;
}