::selection {
    background-color: rgb(58, 58, 58); /* Altere a cor para a cor desejada */
    color: rgb(192, 192, 192); /* Altere a cor do texto para contrastar com o fundo */
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}



.container {
    width: 400px;
    margin: 50px auto;
    background-color: rgb(48, 48, 48, 0.8);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    margin-top: 165px;
    
}

.container h2 {
    color: #fff;
    text-align: center;
    margin-bottom: 20px;

}

.inputBox {
    position: relative;
    margin-bottom: 20px;
}

.inputBox input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    border: none;
    border-bottom: 1px solid #999;
    outline: none;
    background-color: transparent;
    color: white;
}

.inputBox label {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #cfcfcf;
    pointer-events: none;
    transition: 0.5s;
}

.inputBox input:focus ~ label, .inputBox input:valid ~ label {
    top: -20px;
    left: 0;
    color: #ffffff;
    font-size: 14px;
}

input[type="submit"] {
    background-color: gray;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    transition: 0.5s;
}

input[type="submit"]:hover {
    background-color: #fff;
    color: #000000;
}

button {
    background-color: gray;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    transition: 0.5s;
}

button:hover {
    background-color: #fff;
    color: #000000;
}

@media only screen and (max-width: 600px) {
        /* Estilos para telas menores */
        }